$section-border-color: #ebebeb;
$divider-border-color: #d8d8d8;
$card-border-color: #D4D4D4;
$color-black: #0F1626;
// Left Menu
$left-menu-bg: #f9f9f9;
$left-menu-color: #5a5a5a;
$left-menu-active-bg: #eef7ff;
$left-menu-active-color: #528ec1;

//Hero Title
$hero-title-color: #cbcbcd;

//Grid Pagination
$grid-action-button-color: #545454;
$grid-action-button-bg-color: #F6F6F6;
$grid-action-button-border-color: #d9d7d8;
$grid-action-button-active-color: white;
$grid-action-button-active-bg-color: #828282;
$grid-action-button-hover-color: #252525;
$grid-action-button-hover-border-color: #757575;

//Page Action Bar
$page-action-btn-color-black: #4f4f4f;
$page-action-btn-color-black-hover: #363636;


//Buttons
$btn-primary: #0071e3;
$btn-primary-hover: #0077ed;
$btn-primary-loading: #4fa3ff;
$btn-danger: #FF3A30;
$btn-danger-hover: #ff5249;
$btn-danger-loading: #da160c;

//Text
$highlight-text: #06c;
